@import "../../assets/styles/global.scss";

.favorite {
    &__notFound {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        img {
            margin-bottom: 24px;
        }
    }

    &__message {
        font-weight: 600;
        font-size: 24px;
        line-height: calc(29 / 24 * 100%);
        color: #000;
        margin: 0 0 11px;
    }

    &__descrition {
        font-size: 16px;
        line-height: calc(19 / 16 * 100%);
        color: rgba(#000, 0.4);
    }
}
