@import '../../assets/styles/global.scss';

.products {
    &__top {
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px;
    }


    &__search {
        flex: 0 0 250px;
        border: 1px solid #f3f3f3;
        border-radius: 10px;
        overflow: hidden;
        input {
            height: 45px;
            padding-left: 46px;
            padding-right: 10px;
            font-size: 14px;
            line-height: 100%;
            color: #000;
            &::placeholder {
                color: #c4c4c4;
            }
        }
    }
    &__notFound{
        font-size: 35px;
        line-height: 110%;
    }
}

// .gridDisable{
//     display: flex;
//     justify-content: center;
//     align-items: start;
// }
